
@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Bungee&display=swap');

:root {
    --cor-primaria: #FFFBCA;
    --cor-secundaria: #B771E5;
    --cor-terciaria: #4635B1;
    --cor-hover: #AEEA94;

    --fonte-primaria: "Bungee", sans-serif;
    --fonte-secundaria: "Asimovian", sans-serif;
}

* { margin: 0;
    padding: 0;    
}

body{
    height: 100vh;
    box-sizing: border-box; 
    background-color:var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}
.cabecalho_menu {
    display: flex;
    gap: 80px;
}
.cabecalho_links {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    color: var(--cor-hover);
    text-decoration: none;
}

.cabecalho_links:hover {
    color: var(--cor-secundaria);
    transition: 0.7s;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;

}

.titulo-destaque {
    color: var(--cor-terciaria);
}


.links__apresentacao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}

.links_navegacao {
    /*background-color: #c230bb;*/
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 1px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 4%;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-hover);
    font-family: var(--fonte-primaria);
}

.apresentacao_subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}
.links_navegacao:hover {
    background-color: var(--cor-secundaria);
    transition: 0.7s;
}

.apresentacao_imagem {
    width: 50%;

}

.rodape {
    padding: 24px;
    color: var(--cor-hover);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

@media (max-width: 1400px) {
    .cabecalho {
        padding: 10%;
    }
    .cabecalho_menu{
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}